.header
  size(100%, px(150))
  display flex
  justify-content space-between
  align-items: center;
  &--wrap
    width 100%
    background-color #00FFBE;
  &__menu
    display flex
    justify-content: center;
    align-items: center;
    a
      padding-right px(50)
      font-weight: bold;
      font-size: px(25);
      line-height: px(35);
      letter-spacing: px(-0.173611);
      color: #0E325B;
      transition transition
      &:hover
        color baseWhite
      &:last-child
        padding-right: 0;
    a.login
      font-style: normal;
      font-weight: normal;
      font-size: px(15);
      line-height: px(20);
      letter-spacing: px(-0.104167);
      color: #0E325B;
