footer.footer--wrap
  .container
    .footer
      ._logo
        +logotype('general/logo-white.png')
      ._menu
        a(href="#")
          | About us
        a(href="#")
          | Contact us
        a(href="#")
          | Become a doctor
        a(href="#")
          | Terms of use
        a(href="#")
          | Privacy policy
      .gdpr
        +img('general/GDPR', 'png','footer__gdpr')
    .copyright 
      +copyright