header.header--wrap
  .container
    .header
      ._logo
        +logotype('general/logo-black.png')
      ._menu
        a(href="#")
          | Specialists
        a(href="#")
          | How it works
        a(href="#")
          | Pricing
        a(href="#")
          | Testimonials
        a(href="#").login
          | Login →