.howitworks--wrap
  .container
    .howitworks
      h1.how
        | How it works?
      .row
        .col-lg-4.col-md-12
          .block.block2
            +img('content/asking', 'png', 'block2')
            ._text
              p.ask
                | Ask a question, it's simple!
              p.describe
                | Describe what's bothering you in details. Attach photos or test results.
        .col-lg-4.col-md-12
          .block.block2
            +img('content/doctor', 'png', 'block2')
            ._text
              p.ask
                | Question forwarded to the appropriate healthcare professional.
              p.describe
                | Question will be evaluated by authorized healthcare professionals, and assigned to the most competent expert.
        .col-lg-4.col-md-12
          .block.block2
            +img('content/letter', 'png', 'block2')
            ._text
              p.ask
                | Physician send you answer by email
              p.describe
                | Within 24 hours, you will receive an answer by your selected expert.