.physicians--wrap
  .container
    .physicians
      h1
        | Our physicians
      .row
        .col-lg-4.col-md-12
          .block
            +img('content/person01', 'png', 'block')
            ._text
              +icon('shape')
              p.description
                | Cataract surgery involves the surgical removal of the lens of an eye that has formed a cataract. Cataract extraction is the one of the most common eye surgeries performed and is widely regarded as being one of the safest procedures in the medical community.
              p.name
                | Nikolas J. Kozlovsky
              span
                | Cardiolog
        .col-lg-4.col-md-12
          .block
            +img('content/person02', 'png', 'block')
            ._text
              +icon('shape')
              p.description
                | Cataract extraction is the one of the most common eye surgeries performed and is widely regarded as being one of the safest procedures in the medical community.
              p.name
                | Nikolas J. Kozlovsky
              span
                | Doctor Surgerion
        .col-lg-4.col-md-12
          .block
            +img('content/person03', 'png', 'block')
            ._text
              +icon('shape')
              p.description
                | Cataract surgery involves the surgical removal of the lens of an eye that has formed a cataract. Cataract extraction is the one of the most common eye surgeries performed and is widely regarded as being one of the safest procedures in the medical community.
              p.name
                | Nikolas J. Kozlovsky
              span
                | Therapist of High category