.simplepricing--wrap
  .container
    .simplepricing
      h1.simple
        | Simple pricing
      +img('content/person00', 'png', 'simplepricing')
      ._form
        p
          | Question answered by authorized healthcare professionals within 24 hours.
        ._price
          span
            | Only for
          span.price
            | $9.99