@font-face {
  font-family: 'Jura';
  font-display: block;
  src: url("../fonts/JuraBook.eot");
  src: url("../fonts/JuraBook.eot?#iefix") format('embedded-opentype'), url("../fonts/JuraBook.woff2") format('woff2'), url("../fonts/JuraBook.woff") format('woff'), url("../fonts/JuraBook.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
image {
  display: block;
}
textarea {
  resize: none;
}
section {
  position: relative;
}
input,
select,
button,
textarea {
  outline: none !important;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.container {
  max-width: 1240px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.container-fluid {
  padding-right: 80px;
  padding-left: 80px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
}
.title_36 {
  font-size: 36px;
}
.text_16 {
  font-size: 16px;
}
.bold {
  font-weight: bold;
}
.medium {
  font-weight: 500;
}
.btn_ask {
  width: 156px;
  height: 60px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.333333px;
  color: #004236;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.35%, #00ffa9), color-stop(61.33%, #05dc76), color-stop(79.38%, #05d56d), color-stop(98.16%, #08e180));
  background: linear-gradient(180deg, #00ffa9 4.35%, #05dc76 61.33%, #05d56d 79.38%, #08e180 98.16%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn_ask:active {
  -webkit-transform: translateY(3px) scale(0.98);
  transform: translateY(3px) scale(0.98);
}
.swiper_btn {
  position: relative;
}
.btn_prev,
.btn_next {
  padding: 0;
  position: absolute;
  border: none;
  background: transparent;
  top: 10px;
}
.btn_prev svg,
.btn_next svg {
  width: 10px;
  height: 10px;
  fill: #0e325b;
}
.btn_prev {
  left: 0;
}
.btn_next {
  right: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
.swiper-pagination {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-pagination-bullet {
  background-color: #0e325b;
  margin: 0 5px;
}
.header {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__menu a {
  padding-right: 50px;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0px;
  color: #0e325b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__menu a:hover {
  color: #fff;
}
.header__menu a:last-child {
  padding-right: 0;
}
.header__menu a.login {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #0e325b;
}
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
}
.footer--wrap {
  width: 100%;
  background-color: #0e325b;
}
.footer__menu a {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.1875px;
  color: #fff;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__menu a:last-child {
  padding-right: 0;
}
.footer__menu a:hover {
  color: #00ffbe;
}
.copyright {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.1875px;
  color: #6c94c4;
  text-align: center;
  padding-bottom: 25px;
}
.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nav__item:not(:last-child) {
  padding-right: 25px;
}
.welcome {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.welcome--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.welcome__info {
  max-width: 450px;
}
.welcome__info h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.222222px;
  color: #0e325b;
  padding-bottom: 50px;
}
.welcome__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.welcome__cell {
  max-width: 100px;
}
.welcome__cell svg {
  width: 28px;
  height: 28px;
  fill: #07988c;
}
.welcome__form {
  margin-left: 50px;
  -webkit-box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.72);
  box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.72);
  border-radius: 10px;
}
.welcome__up-form {
  width: 610px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 0 20px;
}
.welcome__up-form input,
.welcome__up-form textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aed1fb;
  padding: 30px 0 20px 0;
  border-radius: 10px 10px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
}
.welcome__up-form input::-webkit-input-placeholder, .welcome__up-form textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input::-moz-placeholder, .welcome__up-form textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input:-ms-input-placeholder, .welcome__up-form textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input::-ms-input-placeholder, .welcome__up-form textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input::placeholder,
.welcome__up-form textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form textarea {
  height: 65%;
  border: none;
}
.welcome__down-form {
  width: 610px;
  height: 100px;
  padding: 0 20px;
  background-color: #0e325b;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.welcome__add-photo a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
  margin-left: 10px;
  border-bottom: 1px dotted #6c94c4;
}
.welcome__add-photo svg {
  width: 25px;
  height: 15px;
  fill: #6c94c4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.welcome__add-photo svg:hover {
  fill: #00ffbe;
}
.physicians {
  width: 100%;
}
.physicians--wrap {
  width: 100%;
}
h1 {
  font-weight: bold;
  font-size: 65px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.288889px;
  color: #0e325b;
  margin-top: -50px;
}
.block {
  width: 100%;
  padding: 50px 0 150px 0;
}
.block__image {
  width: 100%;
  display: block;
  padding-bottom: 50px;
}
.block__text {
  padding-left: 100px;
  position: relative;
}
.block__text svg {
  width: 22px;
  height: 22px;
  fill: #0e325b;
  position: absolute;
  top: 0;
  left: 70px;
}
.block__text p.description,
.block__text p.name {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #0e325b;
  padding-bottom: 20px;
}
.block__text p.name {
  font-weight: bold;
  padding-bottom: 10px;
}
.block__text span {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.block__text p.describe,
.block__text p.ask {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
}
.block__text p.ask {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.howitworks {
  width: 100%;
  padding-top: 60px;
}
.howitworks--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.howitworks h1.how {
  margin-top: -122px;
}
.howitworks .block2 {
  width: 100%;
}
.howitworks .block2__image {
  width: 100%;
  display: block;
  padding-bottom: 50px;
}
.howitworks .block2__img {
  height: 130px;
}
.simplepricing {
  width: 100%;
  height: 666px;
  position: relative;
}
.simplepricing--wrap {
  width: 100%;
  background-color: #00eaff;
}
.simplepricing h1.simple {
  position: absolute;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.simplepricing__image {
  width: 100%;
  display: block;
}
.simplepricing__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.simplepricing__form {
  width: 609px;
  height: 395px;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  position: absolute;
  top: 150px;
  left: 32%;
  -webkit-box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.72);
  box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.72);
}
.simplepricing__form p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
}
.simplepricing__price {
  padding: 125px 0 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.simplepricing__price span {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 10px;
}
.simplepricing__price span.price {
  font-style: italic;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -0.444444px;
  color: #0e325b;
  opacity: 1;
}
.chooseus {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.chooseus--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.chooseus h1 {
  margin: 0;
  padding-bottom: 80px;
}
.chooseus .slider {
  width: 50%;
}
.chooseus .slide {
  position: relative;
}
.chooseus .slide__image {
  width: 100%;
  display: block;
}
.chooseus .slide__img {
  height: 290px;
  border-radius: 10px;
}
.chooseus .slide__form {
  position: absolute;
  top: 10%;
  left: 38%;
}
.chooseus .slide__text {
  width: 365px;
  height: 190px;
  background-color: #0e325b;
  border-radius: 5px;
  padding: 25px;
}
.chooseus .slide__text p {
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #aed1fb;
}
.chooseus .slide__name {
  padding: 20px 0 0 90px;
}
.chooseus .slide__name p {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #0e325b;
}
.chooseus .slide__name span {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #07988c;
}
