body {
  font-family: 'ABeeZee', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
image {
  display: block;
}
textarea {
  resize: none;
}
section {
  position: relative;
}
input,
select,
button,
textarea {
  outline: none !important;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.container {
  max-width: 1240px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.container-fluid {
  padding-right: 80px;
  padding-left: 80px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
}
.title_36 {
  font-size: 36px;
}
.text_16 {
  font-size: 16px;
}
.medium {
  font-weight: 500;
}
.btn_ask,
.btn_pay,
.btn_gotit,
.btn_wrong {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.333333px;
  color: #004236;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.35%, #00ffa9), color-stop(61.33%, #05dc76), color-stop(79.38%, #05d56d), color-stop(98.16%, #08e180));
  background: linear-gradient(180deg, #00ffa9 4.35%, #05dc76 61.33%, #05d56d 79.38%, #08e180 98.16%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn_ask:active,
.btn_pay:active,
.btn_gotit:active,
.btn_wrong:active {
  -webkit-transform: translateY(3px) scale(0.98);
  transform: translateY(3px) scale(0.98);
}
.btn_ask {
  width: 156px;
  height: 60px;
}
.btn_pay {
  width: 145px;
  height: 50px;
}
.btn_gotit,
.btn_wrong {
  width: 175px;
  height: 50px;
  margin: 0 5px;
}
.btn_wrong {
  background: transparent;
  color: #fff;
  border: 1px solid #aed1fb;
}
.swiper_btn {
  position: relative;
}
.btn_prev,
.btn_next {
  padding: 0;
  position: absolute;
  border: none;
  background: transparent;
  top: 10px;
}
.btn_prev svg,
.btn_next svg {
  width: 10px;
  height: 10px;
  fill: #0e325b;
}
.btn_prev {
  left: 0;
}
.btn_next {
  right: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
.swiper-pagination {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  background-color: #fff;
  margin: 0 5px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullet-active {
  background-color: #0e325b;
}
.menu {
  --color: #000;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
  display: none;
}
@media (max-width: 1200px) {
  .menu {
    display: block;
  }
}
.menu svg {
  width: 64px;
  height: 48px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.menu svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.menu svg path:nth-child(2) {
  --duration: 0.7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.menu svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}
.menu.active svg path {
  --offset: 57px;
}
.menu.active svg path:nth-child(1),
.menu.active svg path:nth-child(3) {
  --delay: 0.15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.menu.active svg path:nth-child(2) {
  --duration: 0.4s;
  --offset: 2px;
  --array-1: 1px;
}
.menu.active svg path:nth-child(3) {
  --offset: 58px;
}
.header {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__menu {
    display: none;
  }
}
.header__menu a {
  padding-right: 40px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #0e325b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__menu a:hover {
  color: #fff;
}
.header__menu a:last-child {
  padding-right: 0;
}
.header__menu a.login {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #0e325b;
}
@media (max-width: 1200px) {
  .header__menu.active {
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 25px 50px 25px 0;
    -webkit-box-shadow: 0 0 44px -5px rgba(0,0,0,0.2);
    box-shadow: 0 0 44px -5px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .header__menu.active a {
    line-height: 45px;
    padding: 0;
  }
  .header__menu.active a:hover {
    color: #d3d3d3;
  }
}
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
}
@media (max-width: 576px) {
  .footer {
    padding: 25px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.footer--wrap {
  width: 100%;
  background-color: #0e325b;
}
@media (max-width: 992px) {
  .footer__menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 20px;
  }
}
.footer__menu a {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.1875px;
  color: #fff;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__menu a:last-child {
  padding-right: 0;
}
.footer__menu a:hover {
  color: #00ffbe;
}
@media (max-width: 1200px) {
  .footer__menu a {
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .footer__menu a {
    font-size: 12px;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .footer__menu a {
    padding: 0 25px 10px 0;
  }
}
@media (max-width: 576px) {
  .footer__gdpr {
    display: none;
  }
}
.copyright {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.1875px;
  color: #6c94c4;
  text-align: center;
  padding-bottom: 25px;
}
@media (max-width: 576px) {
  .copyright {
    text-align: start;
  }
}
.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nav__item:not(:last-child) {
  padding-right: 25px;
}
.welcome {
  width: 100%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 50px;
  }
}
@media (max-width: 576px) {
  .welcome {
    position: relative;
    padding-top: 0;
  }
}
.welcome--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.welcome__info {
  width: 490px;
}
@media (max-width: 576px) {
  .welcome__info {
    width: 100%;
  }
}
.welcome__info h2 {
  max-width: 500px;
  font-style: italic;
  font-weight: normal;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.222222px;
  color: #0e325b;
}
@media (max-width: 576px) {
  .welcome__info h2 {
    width: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: -0.111111px;
    color: #0e325b;
    padding-bottom: 450px;
  }
}
.welcome__info h2 b {
  padding: 0 10px;
  font-weight: normal;
}
@media (max-width: 576px) {
  .welcome__info h2 b {
    font-weight: bold;
  }
}
.welcome__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 450px;
  padding-top: 50px;
}
@media (max-width: 1200px) {
  .welcome__icons {
    padding-bottom: 50px;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .welcome__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
}
.welcome__cell {
  width: 100%;
  max-width: 150px;
}
@media (max-width: 576px) {
  .welcome__cell {
    max-width: 70%;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.welcome__cell p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #07988c;
  padding-top: 25px;
}
@media (max-width: 576px) {
  .welcome__cell p {
    padding: 0 0 0 25px;
  }
}
.welcome__cell svg {
  width: 40px;
  height: 40px;
  fill: #07988c;
}
.welcome__form {
  -webkit-box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  border-radius: 10px;
  width: 100%;
  max-width: 610px;
  min-height: 355px;
  position: relative;
}
@media (max-width: 1200px) {
  .welcome__form {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .welcome__form {
    position: absolute;
    top: 23%;
    left: 0;
  }
}
.welcome__up-form {
  width: 100%;
  height: 255px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 0 20px;
}
.welcome__up-form span,
.welcome__up-form span.area {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form span.area {
  top: 90px;
}
.welcome__up-form input,
.welcome__up-form textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aed1fb;
  padding: 30px 0 20px 0;
  border-radius: 10px 10px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
}
.welcome__up-form input::-webkit-input-placeholder, .welcome__up-form textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input::-moz-placeholder, .welcome__up-form textarea::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input:-ms-input-placeholder, .welcome__up-form textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input::-ms-input-placeholder, .welcome__up-form textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form input::placeholder,
.welcome__up-form textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__up-form textarea {
  height: 65%;
  border: none;
}
.welcome__down-form {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: #0e325b;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.welcome__add-photo a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome__add-photo a:hover {
  color: #00ffbe;
}
.welcome__add-photo svg {
  width: 25px;
  height: 15px;
  fill: #6c94c4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.welcome__add-photo svg:hover {
  fill: #00ffbe;
}
.welcome__add-photo p {
  border-bottom: 1px dotted #6c94c4;
  padding-right: 5px;
}
@media (max-width: 576px) {
  .welcome__add-photo p {
    padding-right: 0;
  }
}
.welcome__add-photo p:last-child {
  padding-right: 0;
}
@media (max-width: 576px) {
  .welcome__add-photo p:last-child {
    display: none;
  }
}
.welcome__form-pay {
  display: none;
  -webkit-box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  border-radius: 10px;
  width: 100%;
  max-width: 610px;
  min-height: 355px;
  background: #0e325b;
  padding: 30px;
}
.welcome__email {
  position: relative;
  padding-bottom: 43px;
}
.welcome__email p {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #fff;
  padding-bottom: 10px;
}
.welcome__email span {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
  position: absolute;
  top: 50px;
  left: 20px;
}
.welcome__email input {
  border: none;
  width: 100%;
  padding: 30px 25px 20px 20px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
  -webkit-box-shadow: 0 5px 15px rgba(0,255,190,0.3);
  box-shadow: 0 5px 15px rgba(0,255,190,0.3);
}
.welcome__email input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__email input::-moz-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__email input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__email input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__email input::placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__email .gdpr__img {
  position: absolute;
  top: 60px;
  left: 78%;
}
.welcome__card {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 25px;
}
.welcome__card span.card,
.welcome__card span.date,
.welcome__card span.cvv {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
  margin-left: 22px;
  position: absolute;
  top: -22px;
  left: -2px;
}
.welcome__card span.date {
  left: 292px;
}
.welcome__card span.cvv {
  left: 447px;
}
.welcome__card input {
  border: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.0888889px;
  color: #0e325b;
  padding: 10px 30px 10px 20px;
  border-radius: 5px;
}
.welcome__card input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__card input::-moz-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__card input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__card input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__card input::placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #6c94c4;
}
.welcome__card input.card {
  width: 295px;
}
.welcome__card input.date {
  width: 145px;
  margin: 0 10px;
}
.welcome__card input.cvv {
  width: 100px;
}
.welcome__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.welcome__back a {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}
.welcome__form-thanks {
  display: none;
  width: 100%;
  max-width: 610px;
  min-height: 355px;
  padding: 50px 50px 25px;
  background: #0e325b;
  -webkit-box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  border-radius: 10px;
}
.welcome__thanks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.welcome__thanks p,
.welcome__thanks a {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #fff;
}
.welcome__thanks p.bold,
.welcome__thanks a {
  font-weight: bold;
  padding-bottom: 40px;
}
.welcome__thanks a {
  color: #00ffbe;
}
.welcome__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.physicians {
  width: 100%;
}
.physicians--wrap {
  width: 100%;
}
h1 {
  font-weight: bold;
  font-size: 65px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.288889px;
  color: #0e325b;
  margin-top: -50px;
}
@media (max-width: 576px) {
  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.142222px;
    color: #0e325b;
    margin-top: -25px;
  }
}
.block {
  width: 100%;
  padding: 50px 0 150px 0;
}
@media (max-width: 992px) {
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0 0;
  }
}
@media (max-width: 576px) {
  .block {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.block__image {
  width: auto;
  display: block;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .block__image {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .block__img {
    width: 80px;
    height: 100px;
  }
}
.block__text {
  width: 100%;
  padding-left: 100px;
  position: relative;
}
@media (max-width: 768px) {
  .block__text {
    padding-left: 50px;
  }
}
@media (max-width: 576px) {
  .block__text {
    padding: 25px;
  }
}
.block__text svg {
  width: 22px;
  height: 22px;
  fill: #0e325b;
  position: absolute;
  top: 0;
  left: 15%;
}
@media (max-width: 768px) {
  .block__text svg {
    left: 5%;
  }
}
@media (max-width: 576px) {
  .block__text svg {
    left: 25px;
  }
}
.block__text p.description {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #0e325b;
  padding-bottom: 20px;
}
.block__text p.name {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #0e325b;
  font-weight: bold;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .block__text p.name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.0888889px;
    color: #0e325b;
  }
}
.block__text span {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #6c94c4;
}
@media (max-width: 576px) {
  .block__text span {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.0666667px;
    color: #0e325b;
  }
}
.block__text p.ask {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .block__text p.ask {
    font-style: normal;
    font-weight: bold;
    font-size: 18.75px;
    line-height: 22px;
    letter-spacing: -0.0833333px;
    color: #0e325b;
  }
}
.block__text p.describe {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
}
@media (max-width: 576px) {
  .block__text p.describe {
    font-style: italic;
    font-weight: normal;
    font-size: 18.75px;
    line-height: 22px;
    letter-spacing: -0.0833333px;
    color: #0e325b;
  }
}
@media (max-width: 992px) {
  .last {
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .last {
    padding-bottom: 50px;
  }
}
.howitworks {
  width: 100%;
  padding-top: 60px;
}
@media (max-width: 992px) {
  .howitworks {
    padding-bottom: 75px;
  }
}
@media (max-width: 576px) {
  .howitworks {
    padding-bottom: 25px;
  }
}
.howitworks--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.howitworks h1.how {
  margin-top: -122px;
}
@media (max-width: 576px) {
  .howitworks h1.how {
    margin-top: -85px;
  }
}
.howitworks .block2 {
  width: 100%;
}
.howitworks .block2__image {
  width: auto;
  max-width: 168px;
  display: block;
  padding-bottom: 50px;
}
.howitworks .block2__img {
  width: auto;
  height: 130px;
}
@media (max-width: 992px) {
  .howitworks .block2__img {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 576px) {
  .howitworks .block2__img {
    width: 80px;
    height: auto;
  }
}
.simplepricing {
  width: 100%;
  height: 666px;
  position: relative;
}
@media (max-width: 768px) {
  .simplepricing {
    height: 600px;
  }
}
@media (max-width: 576px) {
  .simplepricing {
    height: 335px;
  }
}
.simplepricing--wrap {
  width: 100%;
  background-color: #00eaff;
}
.simplepricing h1.simple {
  position: absolute;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 992px) {
  .simplepricing h1.simple {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .simplepricing h1.simple {
    top: 0;
  }
}
.simplepricing__image {
  width: 100%;
  display: block;
}
.simplepricing__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  .simplepricing__img {
    left: -125px;
  }
}
@media (max-width: 768px) {
  .simplepricing__img {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .simplepricing__img {
    width: 264px;
    height: 297px;
    left: -95px;
  }
}
.simplepricing__form {
  width: 609px;
  height: 395px;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  position: absolute;
  top: 150px;
  left: 32%;
  -webkit-box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
  box-shadow: 0 0 44px -5px rgba(0,0,0,0.72);
}
@media (max-width: 992px) {
  .simplepricing__form {
    left: 28%;
    width: 550px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .simplepricing__form {
    width: 400px;
    height: 250px;
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .simplepricing__form {
    height: 208px;
    top: 50px;
  }
}
.simplepricing__form p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
}
@media (max-width: 768px) {
  .simplepricing__form p {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .simplepricing__form p {
    max-width: 200px;
    line-height: 25px;
  }
}
.simplepricing__price {
  padding: 125px 0 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .simplepricing__price {
    padding: 75px 0 0 200px;
  }
}
@media (max-width: 768px) {
  .simplepricing__price {
    padding: 0 0 0 150px;
  }
}
@media (max-width: 576px) {
  .simplepricing__price {
    padding: 0 0 0 75px;
  }
}
.simplepricing__price span {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.111111px;
  color: #0e325b;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .simplepricing__price span {
    font-size: 15px;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .simplepricing__price span {
    font-weight: normal;
    font-size: 18.75px;
    line-height: 22px;
    letter-spacing: -0.0833333px;
    color: #0e325b;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
.simplepricing__price span.price {
  font-style: italic;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -0.444444px;
  color: #0e325b;
  opacity: 1;
}
@media (max-width: 768px) {
  .simplepricing__price span.price {
    font-size: 80px;
  }
}
@media (max-width: 576px) {
  .simplepricing__price span.price {
    font-weight: normal;
    font-size: 37.5px;
    line-height: 37px;
    letter-spacing: -0.166667px;
    color: #0e325b;
  }
}
.chooseus {
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .chooseus {
    padding: 50px 0;
  }
}
.chooseus--wrap {
  width: 100%;
  background-color: #00ffbe;
}
.chooseus h1 {
  margin: 0;
  padding-bottom: 80px;
}
@media (max-width: 992px) {
  .chooseus h1 {
    font-size: 63px;
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .chooseus h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.142222px;
    color: #0e325b;
    margin-top: -25px;
    max-width: 250px;
  }
}
.chooseus .slider {
  width: 50%;
}
@media (max-width: 1200px) {
  .chooseus .slider {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .chooseus .slider {
    width: 88%;
  }
}
@media (max-width: 768px) {
  .chooseus .slider {
    width: 100%;
  }
}
.chooseus .slide {
  position: relative;
}
@media (max-width: 576px) {
  .chooseus .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.chooseus .slide__image {
  width: 100%;
  display: block;
}
@media (max-width: 768px) {
  .chooseus .slide__image {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .chooseus .slide__image {
    height: 180px;
  }
}
.chooseus .slide__img {
  height: 290px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .chooseus .slide__img {
    height: 200px;
  }
}
@media (max-width: 576px) {
  .chooseus .slide__img {
    position: absolute;
    top: 150px;
    left: 0;
  }
}
.chooseus .slide__form {
  position: absolute;
  top: 10%;
  left: 38%;
}
@media (max-width: 576px) {
  .chooseus .slide__form {
    width: 100%;
    height: 190px;
    position: static;
  }
}
.chooseus .slide__text {
  width: 365px;
  height: 190px;
  background-color: #0e325b;
  border-radius: 5px;
  padding: 25px;
}
@media (max-width: 768px) {
  .chooseus .slide__text {
    width: 300px;
    height: 100%;
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .chooseus .slide__text {
    width: 100%;
    border-radius: 10px;
  }
}
.chooseus .slide__text p {
  font-weight: normal;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #aed1fb;
}
@media (max-width: 768px) {
  .chooseus .slide__text p {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .chooseus .slide__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1875px;
    color: #fff;
  }
}
.chooseus .slide__name {
  padding: 20px 0 0 90px;
}
@media (max-width: 768px) {
  .chooseus .slide__name {
    padding: 20px 0 0 40px;
  }
}
@media (max-width: 576px) {
  .chooseus .slide__name {
    padding: 50px 0 0 225px;
  }
}
.chooseus .slide__name p {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.0666667px;
  color: #0e325b;
}
.chooseus .slide__name span {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #07988c;
}
