.chooseus
  width 100%
  padding 100px 0
  display flex
  flex-direction: column
  justify-content: center;
  align-items: center;
  &--wrap
    width: 100%;
    background-color #00FFBE;
  h1
    margin 0;
    padding-bottom: 80px;
  .slider
    width 50%
  .slide
    position relative
    &__image
      width 100%
      display block
    &__img
      height: 290px
      border-radius 10px
    &__form
      position absolute
      top 10%
      left 38%
    &__text
      size(365px, 190px)
      background-color #0E325B
      border-radius 5px;
      padding: 25px
      p
        font-weight: normal;
        font-size: 13.5px;
        line-height: 20px;
        letter-spacing: -0.0666667px;
        color: #AED1FB;
    &__name
      padding 20px 0 0 90px
      p
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.0666667px;
        color: #0E325B;
      span
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #07988C;