.physicians
  width 100%
  &--wrap
    width 100%
h1
  font-weight: bold;
  font-size: 65px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.288889px;
  color: #0E325B;
  margin-top -50px
.block
  width 100%
  padding 50px 0 150px 0
  &__image
    width 100%
    display block
    padding-bottom: 50px;
  &__text
    padding-left: 100px;
    position relative
    svg
      size(22px)
      fill #0E325B
      position absolute
      top 0
      left 70px
    p.description, p.name
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.0666667px;
      color: #0E325B;
      padding-bottom: 20px;
    p.name
      font-weight: bold;
      padding-bottom: 10px;
    span
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: #6C94C4;
    p.describe, p.ask
      font-style: italic;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.111111px;
      color: #0E325B;
    p.ask
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 20px;