.footer
  width: 100%
  display flex
  justify-content: space-between
  align-items: center
  padding 50px 0
  &--wrap
    width 100%
    background-color #0E325B
  &__menu
    a
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.1875px;
      color: #FFFFFF;
      padding-right 50px
      transition transition
      &:last-child
        padding-right: 0
      &:hover
        color: #00FFBE;
.copyright
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.1875px;
  color: #6C94C4;
  text-align center
  padding-bottom 25px